h1{
    width:400px;
    background-color:blue;
    text-align:center;
    border-radius:20px;
    color:white;
    margin:30px auto 10px;
}
h2{
    text-align:center;
}
div{
    text-align: center;
}
select,option,input,button{
    font-size: 20px;
}
table{
    width:1000px;
    margin:0 auto;
    border-collapse:collapse;
}
table *{
    border:1px solid #ddd;
    text-align: center;
}
.table-image{
    width: 250px;
    height: 200px;
}